html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: var(--black);
  font-size: 16px;
  overflow-x: hidden;
  background-color: var(--white);
  font-weight: 400;
  font-family: var(--font-manrope);
}

.main {
  flex: 1;
}
