.filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  margin-bottom: 4px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sectionTitle {
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 4px;
}
