.button {
  padding: 0;
  color: var(--dark-gray);
  font-size: 14px;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  color: var(--black);
}
