.content {
  min-width: 140px;
  background-color: var(--white);
  border-radius: 12px;
  border: 1px solid var(--border-gray);
  padding: 4px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  z-index: 20;
}
